.home {
    height: calc(100vh - 80px);
}

.container {
    align-items: center;
    justify-content: space-between;
}

.text {
    background-color: #f6efc3;
    width: 100%;
}

.photo {
    background-color: grey;
    width: 300px;
    height: 400px;
}

@media(max-width: 900px) {
    .container {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
}