.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #b3fab3;
}

@media(max-width: 600px) {
  .header {
    padding-left: 5%;
    padding-right: 5%;  }
}